* {
	margin: 0;
	padding: 0;
}

.wrap {
	margin: 10%;
}

.wrap .pic {
	height: 360px;
	width: 800px;
  perspective: 1500px;
}

.wrap .pic ul li {
	position: relative;
	list-style: none;
	box-sizing: border-box;
	float: left;
	height: 360px;
	transform-style: preserve-3d;
	/* transition: 1s; */
	transform: translateZ(-180px)
}

.wrap .pic ul li div:nth-child(1) {
	position: absolute;
	height: 360px;
  width: 100%;
  background-size: 800px 360px;
	background-image: url('./images/1.jpg')
}
.wrap .pic ul li div:nth-child(2) {
	position: absolute;
	height: 360px;
  width: 100%;
  background-size: 800px 360px;
	background-image: url('./images/2.jpg')
}
.wrap .pic ul li div:nth-child(3) {
	position: absolute;
	height: 360px;
  width: 100%;
  background-size: 800px 360px;
	background-image: url('./images/3.jpg')
}
.wrap .pic ul li div:nth-child(4) {
	position: absolute;
	height: 360px;
  width: 100%;
  background-size: 800px 360px;
	background-image: url('./images/4.jpg')
}

.wrap .pic ul li div:nth-child(1) {
	top: -360px;
	transform-origin: bottom;
	transform:translateZ(180px) rotateX(90deg)
}

.wrap .pic ul li div:nth-child(2) {
	top: 360px;
	transform-origin: top;
	transform:translateZ(180px) rotateX(-90deg)
}

.wrap .pic ul li div:nth-child(3) {
	transform:translateZ(180px)
}

.wrap .pic ul li div:nth-child(4) {
	transform:translateZ(-180px) rotateX(180deg)
}